.department {
  .content {
    display: flex;
  }

  .member-item {
    .member-thum {
      width: 400px;
      height: 320px;

      img {
        @include object-fit;
      }
    }

    .member-info {
      padding: 32px;

      .name {
        @include font(16px);
        display: block;
      }

      .position {
        display: inline-block;
        @include font(12px);
        color: #777;
        margin-bottom: 32px;
      }

      p {
        @include font(14px, 1.6);
        font-weight: 300;
      }
    }
  }
}
