.container {
  display: flex;
  flex-grow: 1;
  transition: 0.3s;

  &.on {
    .title-box {
      left: $nav-width;
    }

    .content-wrap {
      top: 0;
      width: 100%;
    }
  }

  .title-box {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid $line-gray;
    @include glass;
    padding: 30px;
    width: 300px;
    height: 100vh;
    flex-shrink: 0;
    z-index: $sut-title-levle;
    transition: 0.3s;

    h1 {
      text-transform: capitalize;
      @include font(14px);
      font-weight: 600;
      margin-bottom: 64px;
      color: $blue;
    }

    .sub-title {
      position: relative;

      h2 {
        @include font(36px, 1.2);
        margin-bottom: 40px;
        font-weight: 300;
      }

      .num {
        @include font(14px, 20px);
        font-weight: 600;
        display: block;
        position: absolute;
        top: -6px;
        right: 17px;
        background-color: rgba($color: $blue, $alpha: 0.85);
        border: 1px solid $blue;
        text-align: center;
        border-radius: 100px;
        padding: 3px 8px 2px;
      }
    }

    p {
      @include font(13px, 1.6);
      font-weight: 300;
    }
  }

  .content-wrap {
    position: relative;
    top: -100%;
    margin-left: $nav-width + $subtitle-width;
    transition: 0.2s 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}
